* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Quicksand',
  sans-serif;
 
}
:root{
  --yelow: #fcfcfc;
  --black: #180155;
  --blue: #061f8f;
  --withe: #ffffff;
  --red:#9E274A;
  --grey:#d3d4d6;



}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--yelow)
  
}



h1 {
  font-size: 55px; font-weight: 600;
}

h2 {
  font-size: 22px; font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  
}



@media screen and (max-width: 800px) {
        

        h2 {
          font-size: 16px; font-weight: 400;
        }

     
}



.nawigacja {

background-color:var(--yelow);
top: 0;
position: sticky;
padding-bottom: 2px;
z-index: 100;
}

.top {
  max-width: 1420px;
  margin: 0 auto;
  width: 90vw;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  border-bottom: solid #D1D1D1 1px;
  
  
}
.logo_i_nazwa {
  display: flex;
  align-items: center;
  line-height: 200%;
  color:var(--blue);
  
}
.logotop {
  stroke:var(--blue);
  fill:var(--blue);
  stroke-width: 4px;
  opacity: 0.8;
  height: 80px;
  margin-bottom: 5px;
 
}

@media screen and (max-width: 800px) {

  .logotop {
    height: 50px;
}
}
  


.top span {
  font-weight: 700;
}

.button_kontakt {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color:var(--blue);
  border-radius: 5px;
  color: var(--withe);
  font-size: 20px;
  text-decoration: none;
}
.button_kontakt:hover {
  
  background-color: var(--red);
  color: var(--withe);
   
}

@media screen and (max-width: 800px) {
  .button_kontakt {
    display: none;
  }
}

.cta {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color:var(--blue);
  border-radius: 5px;
  color: var(--withe);
  font-size: 20px;
  text-decoration: none;
}
.cta:hover{
  text-decoration: none;
  background-color: var(--red);
  color: var(--withe);
   
}


/* burger style */

.burger {
  display: none;
  
  }

@media screen and (max-width: 800px) {
  .burger {
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;      
  }
   
.line {
  fill: none;
  stroke: var(--blue);
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.active .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.active .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.active .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
}

.menu {
  max-width: 1420px;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
 
}

.menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
}

.menu a:hover {
  text-decoration: none;
  color: var(--blue)
  
}
.menu ul {
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  width: 90vw;
  justify-content: space-evenly;
  align-items: center;
  
  
}

@media screen and (max-width: 800px) {
  .menu ul {
    display: none;
  }
}

.menuburg {
  display: none;
}

.menuburg ul{
    
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    align-items:center;
    font-weight: 500;
        
  }
.menuburg a {
  text-decoration: none;
  color:var(--black)
}
.menuburg a:nth-child(2){
  background: var(--blue);
  width: 100%;
  text-align: center;
  color: var(--withe);
}

.menuburg a:hover {
  color: var(--blue);
}

.menuburg a:nth-child(2):hover{
  color: var(--withe);
  background: var(--red);
}

@media screen and (max-width: 800px) {
  .menuburg.active {
    display: block;
  }
}


#welcome {
  
  
  scroll-margin-top: -50px;
  height: 100vh;
  display: flex;
  
}



.kontener {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1420px;
  width: 90vw;
  margin: 0 auto;
  padding: 100px 0;
  flex-direction: column;
  
  
 
}

.txt_welcome img {
  width: 30vw;
  margin-bottom: 20px;
}

.txt_welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  text-shadow: 0px 0px 1px black;
  text-align: center;
  
}
.txt_welcome h1 {
  text-align: center;
  line-height: 200%;
}
.txt_welcome h3 {
  font-style: italic;
  font-weight: 600;
}


section {
  scroll-margin-top: 100px;

}

/* 
OFRTA
  */
/* akordeon poziomy */
.acc-wraper{
  margin: 30px auto;
  width: 80%;
  
}

.accordionHorizontal{
  display:flex;
  flex-wrap:nowrap;
  overflow:hidden;
  width:100%;
  height: 250px;
  gap: 25px;
  
    
}

.accordionHorizontal > div{
  width:80%;
  flex-grow:1;
  flex-shrink:1;
  overflow:hidden;
  transition:all .5s ease;
  border:1px solid var(--black);
  border-radius:12px;
  position:relative;
  
}

.accordionHorizontal > div:hover{
  flex-shrink:0
}

@media screen and (max-width: 800px) {
  .accordionHorizontal {
    display: none;
  }
}


.boxHedline{
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.boxText {
  line-height: 150%;
  padding-left: 10px;
  padding-top: 25px;
  padding-left: 10px;
  color: transparent;
  display: flex;

}
.boxText:hover{
  color: black;
  text-align: left;
  cursor: pointer;
}

.a1 {
  background-image: url(img/Mask\ Group\ 2.png);
  background-color: #7FB6BF;
  background-repeat: no-repeat;
  background-size: cover;
}

.a2 {
  background-image: url(img/Mask\ Group\ 3.png);
  background-color: #5c78f6;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.a3 {
  background-image: url(img/Mask\ Group\ 4.png);
  background-color: #D1D1D1;
  background-repeat: no-repeat;
  background-size: cover;
}

.a4 {
  background-image: url(img/Mask\ Group\ 5.png);
  background-color: #9c4e66;
  background-repeat: no-repeat;
  background-size: cover;
}

/* akordeon pionowy */

@media screen and (min-width: 800px) {
  .acordionVertical {
    display: none;
  }
}

.acc-wraper{
  display: flex;
  flex-direction: column;


}

.bg-one,
      .bg-one ~ .content span{
      background-color:#7FB6BF;

      }

      .bg-two,
      .bg-two ~ .content span{
      background-color:#5c78f6;

      }

      .bg-three,
      .bg-three ~ .content span{
      background-color:#D1D1D1;

      }

      .bg-four,
      .bg-four ~ .content span{
      background-color:#9c4e66;

      }


.tabs-box{
  background-color: #3d4a60;
  color:#ffffff;
  
  
  box-shadow:0 0 10px rgba(0,0,0,.3)
}
.tabs-box .acord{
 
 overflow:hidden;

}
.tabs-box .acord label{
  
  display:flex;
  align-items: center;
  
}
.tabs-box .acord label i{
  display:block;
 
  top:0;
  right:0;
  text-align: center;
}
.tabs-box .acord label,
.tabs-box .acord label i,
.tabs-box .acord i.fa-chevron-circle-down{
    height:50px;
    line-height: 50px;
    
}
.tabs-box .acord i.fa-chevron-circle-down{
  position:absolute;
  z-index: 1111;
  top:0;
  left:0;
  width: 40px;
  text-align: center;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  transition:all .2s linear 0s;
}

.tabs-box .acord input{
  display:none;
}

.tabs-box .content{
  position:relative;
  overflow:hidden;
  -moz-transition:height 1s linear 0s;
  -webkit-transition: height 1s linear 0s;
  transition: height 1s linear 0s;
  height:0;
  font-size:14px;
  line-height:22px;
  color:#e4e4e4;
  text-align:center;
  
}

.tabs-box .content span.square{
  display: block;
  position: absolute;
  left: 10px;
  top: -17px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.tabs-box input[type="checkbox"]:checked ~ div.content{
  height:300px;
  padding:10px;
}
.tabs-box input[type="checkbox"]:checked ~ i.fa-chevron-circle-down{
transform:rotate(180deg);
}





























  

/* 
zakres pomocy
  */




.zakres {
  display: flex;
  align-items: center;
  
}

@media screen and (max-width: 800px) {
  .zakres {
    flex-direction: column;
    width: 90vw;
  }
}


.txt_zakres{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}



.button_zakres{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 60px;
  border: solid 1px;
  border-color: #7FB6BF;
  border-radius: 15px;
  margin: 10px;
  word-wrap:break-word;
  text-align: center;
  
}

@media screen and (max-width: 800px) {
  .button_zakres {
    flex-direction: column;
    width: 90vw;
  }
}



.button_zakres:hover{
  background-color:#9bb9e8 ;
  color: var(--blue);
      
}
.button_zakres:nth-child(odd):hover{
  background-color: #8cdef6;
}

.zakres_koment{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.zakres_koment p {
  font-weight: bold;
  margin-top: 15px;
}






/* arykuły */

#Articles{
  background-color: #dfddd9;
}

.accordion2 img{
  width: 10vw;
}
















/* 
anna i joanna
  */
.opis_osoby {
  display: flex;
  flex-direction: column;
  
}
.anna {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.opis_osoby {
  width: 80vw;
  line-height: 200%;
  
}
.anna h2 {
  font-weight: 600;
}

.txt_anna {
  padding-top: 20px;
  display: flex;
  
  flex-direction: column;
  
}
.kategoria{
  padding-bottom: 12px;
  
  
}

/* do otwierania i zamykania akordeonu*/
.accordion2 {
  display: flex;
  background-color: #8cdef6;
  color: var(--withe);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align:justify;
  border: none;
  outline: none;
  transition: 1s;
  justify-content: space-between;
  align-items: center;
    
    
}
.accordion2:after {
  content: "+";
  font-size: 24px;
  float: right;
  margin-left: 5px;
  
  
}

.accordion2.active:after {
  content: "-";
    
}

/* animacja na guzikach */

.accordion2.active:hover {
  background-color: #9bb9e8;
 
  
}

/* panel po otwarciu */
.panel {
  padding: 0 18px;
  background-color:var(--grey);
  display: none;
  overflow: hidden;
  line-height: 200%;
  max-height: 1s ease-out;
  text-align:justify;
  
  
  
}
.panel li {
  list-style: circle;
      
  
}

#joanna {
  background-color: var(--withe);
}

/* 
kontakt
  */

#kontakt {
  background-color: var(--blue);
}


.kontener_kontakt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--black);
  background-color: var(--withe);
     
}
@media screen and (max-width: 800px) {
  .kontener_kontakt {
    flex-direction: column;
  }
}

svg {
  margin-right: 20px;
}
.lewy_opis{
  font-size: 60px;
  font-weight: 700;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
}
.lewy_opis svg {
  height: 60px;
  fill: var(--black);
  stroke-width: 5px;
  padding-left: 30px;
  
}
.prawy_opis {
  padding: 30px 120px;
}

@media screen and (max-width: 800px) {
  .prawy_opis{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.kontener_dane{
  background-color: var(--withe);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
@media screen and (max-width: 800px) {
  .kontener_dane{
    flex-direction: column;
  }
}
.lewy_adres{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 60px;
  
}
.klocek{
  
  display: flex;
  padding: 20px 0;
}
.klocek p{
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  .kontener_dane p{
    font-size: 12px;
  }
  .kontener_dane a{
    font-size: 12px;
  }
}

.klocek a {
  text-decoration: none;
  color: var(--black);
}
.klocek a:hover {
  color: var(--blue);
}


/* 
slideshow
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  position: relative;
  border-left: solid 20px var(--withe);
  border-right: solid 20px var(--withe);
  width: 700px;
  height: 400px;
  overflow: hidden;

  
  
}




.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  
  display: block;
  width: 100%;
  height: 100%;
  
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(700px);
  background-image: url(img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: opaqTransition 30s cubic-bezier(0, 0, 0, 0.97) infinite;
  
}


.card_part.pic2 {
  z-index: 900;
  background-image: url(img/2.jpg );
  animation-delay: 3s;
}



.card_part.pic4 {
  z-index: 800;
  background-image: url(img/4.jpg );
  animation-delay: 6s;
}

.card_part.pic5 {
  z-index: 700;
  background-image: url(img/5.jpg );
  animation-delay: 9s;
}

.card_part.pic6 {
  z-index: 600;
  background-image: url(img/3.jpg );
  animation-delay: 12s;
}

.card_part.pic8 {
  z-index: 500;
  background-image: url(img/8.jpg );
  animation-delay: 15s;
}

.card_part.pic9 {
  z-index: 400;
  background-image: url(img/9.jpg );
  animation-delay: 18s;
}

.card_part.pic10 {
  z-index: 300;
  background-image: url(img/10.jpg );
  animation-delay: 21s;
}

.card_part.pic11 {
  z-index: 200;
  background-image: url(img/11.jpg );
  animation-delay: 24s;
}




@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  28% {
    transform: translateX(-700px);
  }
 
  100% {
    transform: translateX(-700px);
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 100vw;
    border: solid 10px var(--withe);
    border-bottom: none;
  }
}


/* 
stopa
  */

.footer {
  bottom: 0;
  display: flex;
  height: 20px;
  align-items: center;
  font-size: xx-small;
  background-color: var(--withe);
  justify-content: center;
  color: var(--withe);

}
.footer a {
  text-decoration: none;
  color: var(--black);

}

.footer a:hover {
  color: var(--black);
  
}
